<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>Document</title>
</head>
<body class="profile">
    <div class="container">
        <nav class="navbar-items">
            <p  class="nav-left">Questioner-Admin</p>
            <p class="nav-right"><a href="./admincreate.html">Create Meetup</a> </li>
            <p class="nav-right"><a href="#">Admin Info</a> </li>
            <p class="nav-right"><a href="./login.html">Log out</a></li>
        </nav>
        <div class="profile-body">
            <div class="profile-questions">
                <div class="popularquestion" id="1">
                    <p> <b>Firebase Meetup Kenya</b>: happening on Thursday 10 Jan 2018 at UoN Towers</p>
                    <p class="feed-time">posted by <b>Admin</b> on Monday 13:16:09pm</p>
                    <button id="popular-feed">Delete Meetup</button>
                </div>
                <div class="popularquestion" id="1">
                        <p> <b>Firebase Meetup Kenya</b>: happening on Thursday 10 Jan 2018 at UoN Towers</p>
                        <p class="feed-time">posted by <b>Admin</b> on Monday 13:16:09pm</p>
                        <button id="popular-feed">Delete Meetup</button>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>