<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>Document</title>
</head>
<body class="admin">
        <nav id="navbar-items">
                <p  id="nav-left">Questioner-Admin</p>
                <li id="nav-right"><a href="#">Info</a> </li>
                <li id="nav-right"><a href="#">log out</a> </li>
                <li id="nav-right"><a href="./admincreate.html">Create Meetup</a></li>
            </nav>
            <div id="meetup-admin">
                    <p id="addmin-view">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga est autem quis animi tenetur quisquam nisi aperiam eveniet quo minus. Quam mollitia voluptates voluptas velit hic dolor obcaecati, eligendi dolores?</p>
                    <li id="feed">Time posted: 2weeks ago</li>
                    <li id="feed">Status: Event passed</li>
                </div>
                <div id="meetup-admin">
                        <p id="addmin-view">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga est autem quis animi tenetur quisquam nisi aperiam eveniet quo minus. Quam mollitia voluptates voluptas velit hic dolor obcaecati, eligendi dolores?</p>
                        <li id="feed">Time posted: 2weeks ago</li>
                        <li id="feed">Status: Event passed</li>
                    </div>  <div id="meetup-admin">
                            <p id="addmin-view">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga est autem quis animi tenetur quisquam nisi aperiam eveniet quo minus. Quam mollitia voluptates voluptas velit hic dolor obcaecati, eligendi dolores?</p>
                            <li id="feed">Time posted: 2weeks ago</li>
                            <li id="feed">Status: Event passed</li>
                        </div>

    
</body>
</html>