<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <title>Questioner</title>
</head>
<body class="dashboard-body">
        <!-- #meetup navbar -->
        <nav id="navbar-items">
            <p  id="nav-left">Questioner</p>
            <li id="nav-right" ><a href="./profile.html">Profile</a> </li>
            <li id="nav-right" ><a href="./popularmeetup.html">Popular Meetups</a> </li>
            <li id="nav-right" ><a href="#meetupcategories">MeetUp Categories</a></li>
            <button id="nav-right" >Search</button>
            <input  id="nav-right" type="text" placeholder="Search any meetup here e.g food meetups,sports...">
        </nav>
        <!-- #meetup dashboard -->
        <div id="meetup-body">
            <div id="meetup-view">
                <img src="/UI/static/images/one.png" alt="meet up image">
                <div id="meeting-details">
                    <p id="meetup-info"><b>Name of meet up</b> :  MMU GDG</p>
                    <p id="meetup-info"><b>Date created</b> : 12/1/2018</p>
                    <p id="meetup-info"><b>Description of meet up</b> : This meet up aims to bring closer all the developers using Google platform</p>
                    <button><a href="./meetupdetail.html">View more about the meet up</a></button>
                </div>
            </div>       
        </div>
        <!-- #endregion -->
        <!-- #questioner footer -->
        <footer id="questioner-info">
            <div id="questioner-contact">
                <p>Questioner</p>
                <p>Lorem ipsum dolor sit </p>
            </div>
            <div id="questioner-contact">
                <p>Contact info</p>
                <p>Lorem ilor, sit amet consectetur adipisicing elit. Et adipisci dolore minima, nesciunt, impedit consequatur pariatur repellat placeat esse deserunt quis provident illum quod sed veritatis eum molestiae nam voluptatibus. </p>
            </div>
            <div id="questioner-contact">
                <p>Questioner mission and values</p>
                <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, expedita. Illo labore rem voluptatum officiis? Assumenda modi molestias, natus quaerat error fugit dignissimos architecto neque beatae, tenetur quis porro illum! </p>
            </div>
            <br>
            <p>Questioner</p>
            <p>2019</p>                    
        </footer>
    </body>
</html>