<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questioner</title>
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body class="index">
    <div class="container">
        <nav class="navbar-items">
            <p class="nav-left">Questioner</p>
            <p  class="nav-right"><a href="./signup.html">Sign Up</a></p>
            <p class="nav-right" ><a href="./login.html">Log in</a></p>
        </nav>
        <!-- #questioner body -->
        <div class="start-intro">
            <div class="name">
                <h1 class="text">Questioner</h1>
            </div>
            <div class="mini-start">
                <div class="mini-start1">
                    <p>Welcome to Questioner</p>
                </div>
                <div class="mini-start2">
                    <p>Questioner is a Crowd-source questions for a meetup.
                    Questioner helps the meetup organizer prioritize questions to be answered. You as the users can vote on asked questions and they bubble to the top or bottom of the log on the specific Meetup.</p>
                    <button class="start-button"><a href="./signup.html">Get Started</a> </button>
                </div>
            </div>
        </div>
        <!-- #questioner footer -->
        <footer class="questioner-info">
            <div class="questioner-contact">
                <p><b>Questioner</b></p>
                <p>location:</p>
                <p>Kenya, Nairobi</p>
                <p>P.O Box 23435-5546</p>

            </div>
            <div class="questioner-contact">
                <p><b>Contact info</b></p>
                <p>questioner@mail.com</p>
                <p>phone number :07123456987 </p>
                <p>Reach us at instagram: @meetup</p>

            </div>
            <div class="questioner-contact">
                <p><b>Questioner mission and values</b></p>
                <p>Connect People of same Intrest</p>
                <p>Create Memorable Meetups</p>
                <p>Build the Best Public Relations</p>
            </div>
        </footer>
    </div>
</body>
</html>