<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questioner</title>
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body class="index">
        <nav id="navbar-items">
            <p id="nav-left">Questioner</p>
            <li id="nav-right"> <a href="#">About us</a> </li>
            <li id="nav-right"><a href="./login.html">Log In</a></li>
            <li id="nav-right"><a href="./signup.html">Sign Up</a></li>
        </nav>
        <!-- #questioner body -->
        <div id="start-intro">
            <div id="questioner-header">
                <div id="name">
                    <h1 class="text">Questioner</h1>
                </div>
                <div id="mini-start">
                    <p>Welcome to Questioner</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui labore quis fugiat explicabo soluta voluptate a corrupti mollitia odit repellat eum eligendi architecto excepturi perspiciatis impedit ut et, veniam eveniet!</p>
                    <button class="start-button"><a href="./signup.html">Get Started</a> </button>
                </div>
            </div>
        </div>
        </div>
        <!-- #questioner about us body -->
        <!-- #questioner footer -->
        <footer id="questioner-info">
            <div id="questioner-contact">
                <p><b>Questioner</b></p>
                <p>location:</p>
                <p>Kenya, Nairobi</p>
                <p>P.O Box 23435-5546</p>

            </div>
            <div id="questioner-contact">
                <p><b>Contact info</b></p>
                <p>questioner@mail.com</p>
                <p>phone number :07123456987 </p>
                <p>Reach us at instagram: @meetup</p>

            </div>
            <div id="questioner-contact">
                <p><b>Questioner mission and values</b></p>
                <p>Connect People of same Intrest</p>
                <p>Create Memorable Meetups</p>
                <p>Build the Best Public Relations</p>
            </div>
            <br>
            <h3>Questioner</h3>
            <h3>2019</h3>
        </footer>
</body>
</html>