<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Questioner</title>
</head>
<body class="login-body">
        <nav id="navbar-items">
                    <div id="nav-left">
                        <p>Questioner</p>
                    </div>
                    <div id="nav-right">
                        <li> <a href="./aboutus.html">About us</a></li>
                        <li> <a href="./signup.html"> Sign Up</a></li>
                    </div>
        </nav>
        <div id="details-input" align="center">
            <form id="login-input" action="" method="POST">
                <p id="hints">Enter email</p>
                <input id="input" type="email" placeholder="enter your email or username">
                <p id="hints">Enter password</p>
                <input id="input" type="password" placeholder="enter your password">
                <button id="submit-button" ><a href="./dashboard.html">LOG IN</a></button>
                <p>New to Questioner? Please <a id="redirect" href="./signup.html">Sign up</a> </p>        
            </form>
        </div>
        <footer class="questioner-info">
                    <div id="questioner-contact">
                        <p>Questioner</p>
                        <p>Lorem ipsum dolor sit </p>
                    </div>
                    <div id="questioner-contact">
                        <p>Contact info</p>
                        <p>Lorem ilor, sit amet consectetur adipisicing elit. Et adipisci dolore minima, nesciunt, impedit consequatur pariatur repellat placeat esse deserunt quis provident illum quod sed veritatis eum molestiae nam voluptatibus. </p>
        
                    </div>
                    <div id="questioner-contact">
                        <p>Questioner mission and values</p>
                        <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, expedita. Illo labore rem voluptatum officiis? Assumenda modi molestias, natus quaerat error fugit dignissimos architecto neque beatae, tenetur quis porro illum! </p>
        
                    </div>
                    <br>
                    <p>Questioner</p>
                    <p>2019</p>
        </footer>
        </body>
</html>