<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/postquestion.css">
    <title>Questioner</title>
</head>
<body class="post-question">
    <div class="post-body">
        <nav>
            <p>Questioner</p>
            <li> <a href="./dashboard.html">Home</a></li>
            <li> <a href="./profile.html">Profile</a></li>
            <li> <a href="#">Popular MeetUp</a></li>
        </nav>
        <div id="post-area">
            <h4>Food lovers : meeting on Mon 1/1/2019 at 10:00am at Ankara Grill : Agenda :Blog Award</h3>
            <i>Be free to ask any Questions</i>
                <div id="post">
                <textarea name="" id="" cols="30" rows="10" placeholder="enter your question here"></textarea>
                <button id="quiz-post"> post post-question</button>
            </div>
            <h3>Food lovers : Popular Questions</h3>
            <div id="popular-questions">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur id consequatur modi animi fugit rem architecto inventore nostrum similique laborum nihil dicta neque libero, totam ipsum dolor a voluptas tenetur?</p>
                <p id="timeline">posted by :Alan</p>
                <p id="timeline"> on : Thurday 14/1/2019</p>
                <div>
                    <button id="question-additions">Upvote</button>
                    <button id="question-additions">Downvote</button>
                    <button id="question-additions">Add Comments</button>
                    <button id="question-additions">View Comments</button>
                </div>
            </div>
        </div>
        <footer id="post-footer">
            <div class="questioner-contact">
                        <p>Questioner</p>
                        <p>Lorem ipsum dolor sit </p>
            </div>
            <div class="questioner-contact">
                        <p>Contact info</p>
                        <p>Lorem ilor, sit amet consectetur adipisicing elit. Et adipisci dolore minima, nesciunt, impedit consequatur pariatur repellat placeat esse deserunt quis provident illum quod sed veritatis eum molestiae nam voluptatibus. </p>
            </div>
            <div class="questioner-contact">
                        <p>Questioner mission and values</p>
                        <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, expedita. Illo labore rem voluptatum officiis? Assumenda modi molestias, natus quaerat error fugit dignissimos architecto neque beatae, tenetur quis porro illum! </p>
            </div>
            <br>
            <p>Questioner</p>
            <p>2019</p>
        </footer>
    </div>
</body>
</html>