<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/postquestion.css">
    <title>Document</title>
</head>
<body class="post-question">
    <div class="post-body">
        <div class="post-nav">
            <nav>

            </nav>
        </div>
        <div class="post-area">
            <div class="post-question-div">
                <div class="brief-info">
                    <h3>Meet up information</h3>
                    <p> Date:1/2/2019 , at Strathmore UNiversity</p>
                </div>
                <div class="post">
                    <textarea class="quiz-post" name="" id="" cols="30" rows="10" placeholder="enter your question here"></textarea>
                    <button class="quiz-post"> post post-question</button>
                </div>
                <div class="popular-questions">
                    <h3>Meet up Popular Questions</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur id consequatur modi animi fugit rem architecto inventore nostrum similique laborum nihil dicta neque libero, totam ipsum dolor a voluptas tenetur?</p>
                    <div>
                        <p class="timeline">posted by :Alan</p>
                        <p class="timeline"> on : Thurday 14/1/2019</p>
                    </div>
                    <div>
                        <button class="question-additions">Upvote</button>
                        <button class="question-additions">Downvote</button>
                        <button class="question-additions">Add Comments</button>
                        <button class="question-additions">View Comments</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-footer">
        </div>
    </div>
</body>
</html>