<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>Questioner</title>
</head>
<body class="profile">
        <nav class="navbar-items">
            <p id="nav-left">Questioner</p>
            <p  class="nav-right"><a href="#">About Us</a></p>
            <p  class="nav-right"><a href="./dashboard.html">Home</a></p>
            <p  class="nav-right"><a href="#">Profile setting</a></p> 
        </nav>
        <div class="profile-body">
            <div class="user-information">
                <div class="user-image">
                    <img id="info-image" src="../static/images/one.png" alt=" user image">
                </div>
                <div class="user-detail">
                    <p id="info-name">username : Alan</p>
                    <p id="info-email">email:alan@gmail.com</p>
                    <button id="info-button">  Edit Profile</button>
                    <button id="info-button"><a href="#popularquestion">Popular Questions</a></button>
                    <button id="info-button"><a href="#askedquestion">Questions I asked</a></button>
                    <button id="info-button"><a href="#questionscommented">Questions I Commented</a></button>
                </div>
            </div> 
            <div class="profile-questions">
                    <!--allows user to access different part of the page without scrolling much-->
                    <div class="control-body">
                        <a id="profile-control" href="#1">Popular Questions Feed <button>3</button></a>
                        <a id="profile-control" href="#2">Questions asked by Me<button>2</button></a>
                        <a id="profile-control" href="#3">Questions I Commented<button>1</button></a>
                    </div>
                    <!--popular questions on specific meetups-->
                    <div class="popularquestion" id="1">
                        <p id="hints">Popular Questions on meetup i will attend <button>3</button></p>
                        <div>
                            <p> <b>Firebase Meetup Kenya</b>: happening on Thursday 10 Jan 2018 at UoN Towers</p>
                            <p><b><h2>1.</h2></b>Will top Winners will be rewarded??</p>
                            <p class="feed-time">posted by <b>Alan Wlaker</b> on Monday 13:16:09pm</p>
                            <button id="popular-feed">Upvote 125 </button>
                            <button id="popular-feed">Downvote 63</button>
                            <button id="popular-feed">comment</button>
                            <button id="popular-feed">view comments</button>
                        </div>
                        <hr>

                        <div>
                            <p> <b>Firebase Meetup Kenya</b>: happening on Thursday 10 Jan 2018 at UoN Towers</p>
                            <p><b><h2>2.</h2></b>Will there be provision of Tshirts??</p>
                            <p class="feed-time">posted by <b>Waster</b> on Monday 13:16:09pm</p>
                            <button id="popular-feed">Upvote 105 </button>
                            <button id="popular-feed">Downvote 63</button>
                            <button id="popular-feed">comment</button>
                            <button id="popular-feed">view comments</button>
                        </div>
                        <hr>
                        <div>
                            <p> <b>Firebase Meetup Kenya</b>: happening on Thursday 10 Jan 2018 at UoN Towers</p>
                            <p><b><h2>3.</h2></b>Will top Winners will be rewarded??</p>
                            <p class="feed-time">posted by <b>Alan Wlaker</b> on Monday 13:16:09pm</p>
                            <button id="popular-feed">Upvote 125 </button>
                            <button id="popular-feed">Downvote 63</button>
                            <button id="popular-feed">comment</button>
                            <button id="popular-feed">view comments</button>
                        </div>
                    </div>
                    <!--questions users asked-->
                    <div class="askedquestions" id="2">
                        <p id="hints">Questions i asked <button>2</button></p>
                        <div>
                            <p> <b>Firebase Meetup Kenya</b>: happening on Thursday 10 Jan 2018 at UoN Towers</p>
                            <p><b><h2>1.</h2></b>What will be the top prizes??</p>
                            <p id="popular-feed">posted by <b>Me</b> on Monday 13:16:09pm</p>
                            <button id="popular-feed">Upvote 95 </button>
                            <button id="popular-feed">Downvote 3</button>
                            <button id="popular-feed">comment</button>
                            <button id="popular-feed">view comments</button>
                        </div>
                        <hr>

                        <div>
                            <p> <b>FoodLovers Kenya</b>: happening on Thursday 10 Jan 2018 at UoN Towers</p>
                            <p><b><h2>2.</h2></b> When will Food Blog Registration take place??</p>
                            <p id="popular-feed">posted by <b>Me</b> on Monday 3:16:09am</p>
                            <button id="popular-feed">Upvote 25 </button>
                            <button id="popular-feed">Downvote 3</button>
                            <button id="popular-feed">comment</button>
                            <button id="popular-feed">view comments</button>
                        </div>
                    </div>
                    <!--questions that user commented on-->
                    <div  class="questionscommented" id="3">
                        <p id="hints">Question I commented <button>1</button></p>
                        <p> <b>Firebase Meetup Kenya</b>: happening on Thursday 10 Jan 2018 at UoN Towers</p>
                        <p><b><h2>1.</h2></b> How much will it cost to register new users??</p>
                        <p id="feed-time">posted by <b>Sam</b> on Tuesday 9:16:09pm</p>
                        <button id="popular-feed">Upvote 45 </button>
                        <button id="popular-feed">Downvote 23</button>
                        <button id="popular-feed">comment</button>
                        <button id="popular-feed">view comments</button>
                    </div>
            </div>
            <footer class="questioner-info">
                    <div class="questioner-contact">
                        <p><b>Questioner</b></p>
                        <p>location:</p>
                        <p>Kenya, Nairobi</p>
                        <p>P.O Box 23435-5546</p>
        
                    </div>
                    <div class="questioner-contact">
                        <p><b>Contact info</b></p>
                        <p>questioner@mail.com</p>
                        <p>phone number :07123456987 </p>
                        <p>Reach us at instagram: @meetup</p>
        
                    </div>
                    <div class="questioner-contact">
                        <p><b>Questioner mission and values</b></p>
                        <p>Connect People of same Intrest</p>
                        <p>Create Memorable Meetups</p>
                        <p>Build the Best Public Relations</p>
                    </div>
            </footer>
        </div>
</body>
</html>