<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/signup.css">
    <title>Questioner</title>
</head>
<body class="signup-body">
        <nav id="navbar-items">
            <p id="nav-left">Questioner</p>
            <li id="nav-right"><a href="./aboutus.html">About us</a></li>
            <li id="nav-right"><a href="./login.html">login</a> </li>
        </nav>
        <div id="signup-input" align='center'>
            <h2>Create Your Account Please</h2>
            <form id="input-body" action="signup.html" method="POST">
                <p id="hint">Enter username</p>
                <input id="input" type="text" placeholder="enter your username...">
                <p id="hint">Enter email</p>
                <input id="input" type="email" placeholder="enter your email....">
                <p id="hint">Enter password</p>
                <input id="input" type="password" placeholder="enter your password....">
                <p id="hint">Confirm password</p>
                <input id="input" type="password" placeholder="Confirm your password....">
                <button id="submit-signup"> <a href="./dashboard.html">SIGN UP</a> </button>
                <p>Already have an account on Questioner? Please <a id="link" href="./login.html">Log in</a></p>        
            </form>
        </div>
        <footer id="questioner-info">
            <div id="questioner-contact">
                <p>Questioner</p>
                <p>Lorem ipsum dolor sit </p>
            </div>
            <div id="questioner-contact">
                <p>Contact info</p>
                <p>Lorem ilor, sit amet consectetur adipisicing elit. Et adipisci dolore minima, nesciunt, impedit consequatur pariatur repellat placeat esse deserunt quis provident illum quod sed veritatis eum molestiae nam voluptatibus. </p>
        
            </div>
            <div id="questioner-contact">
                <p>Questioner mission and values</p>
                <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, expedita. Illo labore rem voluptatum officiis? Assumenda modi molestias, natus quaerat error fugit dignissimos architecto neque beatae, tenetur quis porro illum! </p>
        
            </div>
            <br>
            <p>Questioner</p>
            <p>2019</p>   
        </footer>
</body>
</html>