<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/signup.css">
    <title>Questioner</title>
</head>
<body class="signup-body">
    <div>
        <div class="signup-nav">
            <nav class="navbar-items">
                <div class="nav-bar">
                    <div class="nav-left">
                        <p>Questioner</p>
                    </div>
                    <div class="nav-right">
                        <nav class="nav-list">
                            <li><a href="./aboutus.html">About us</a></li>
                            <li><a href="./login.html">login</a> </li>
                        </nav>
                    </div>
                </div>
            </nav>
        </div>
        <div class="signup-input" align='center'>
            <div class="input-body" align='center'>
                <form action="signup.html" method="POST">
                    <input class="input" type="text" placeholder="enter your username...">
                    <input class="input" type="email" placeholder="enter your email....">
                    <input class="input" type="password" placeholder="enter your password....">
                    <button class="submit-signup"> <a href="./dashboard.html">SIGN UP</a> </button>
                    <p>Already have an account on Questioner? please <a href="./login.html">Log in</a></p>        
                </form>
            </div>  
        </div>
        <div class="mainpage-footer">
                <footer class="questioner-info">
                    <div class="questioner-contact">
                        <p>Questioner</p>
                        <p>Lorem ipsum dolor sit </p>
                    </div>
                    <div class="questioner-contact">
                        <p>Contact info</p>
                        <p>Lorem ilor, sit amet consectetur adipisicing elit. Et adipisci dolore minima, nesciunt, impedit consequatur pariatur repellat placeat esse deserunt quis provident illum quod sed veritatis eum molestiae nam voluptatibus. </p>
        
                    </div>
                    <div class="questioner-contact">
                        <p>Questioner mission and values</p>
                        <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, expedita. Illo labore rem voluptatum officiis? Assumenda modi molestias, natus quaerat error fugit dignissimos architecto neque beatae, tenetur quis porro illum! </p>
        
                    </div>
                    <br>
                    <div class="footer-copyright">
                            <p>Questioner</p>
                            <p>2019</p>
        
                    </div>
                    
                </footer>
        </div>
    </div>
</body>
</html>