body{
     background-color: blue; 
     margin: 0; 
     color:white; 
     font-family: sans-serif; 
     font-size: 16px; 
}
/*a base code */
a{
    color: white;
    text-decoration: none;
}
/*div base code added*/
div{
    width: auto;
    height: auto;
}
/*base navbar code*/
nav{
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    padding-bottom: 10px;
    padding-top: 10px;
    width:auto;
    margin: 0;
}
/*base button code*/
button{
    border-radius: 5px;
    border-style: groove;
    background-color: rgba(0,0,0,0.5);
    margin-top: 2%;
    width:30%;
    height: auto;
    padding: 8px;
    color: white;
    text-align: center;
    border-style: groove;
    border-radius: 6px;
    border-width: 1px;
    margin-right: 7px;
    padding: 10px;
    width: auto;
    cursor: pointer;
}
/*form base  code*/
form{
    border: none;
    border-color: white;
    border-style: groove;
    border-width: 1px;
    border-radius: 16px;
    padding: 20px;
    display: inline-block;
}
/*input base code*/
input{
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px;
    border-style: groove;
    border-radius: 6px;
    border-width: 1px;
    margin-right: 7px;
    padding: 4px;
    background-color: rgba(0,0,0,0.5);
}
/* base list code*/
li {
    display: inline;
    float: right;
    padding: 6px;
    margin-right: 7px;
    margin-left: 3px;
    border-color: white;
    border-style: groove;
    border-radius: 4px;
    border-width: 1px;
    cursor: pointer;
}
/*base footer code*/
footer{
    text-align: center; 
    padding: 10px;
    margin:0;
    width: auto;
}
/*base textarea code*/
textarea{
    width: 70%;
    height: 70px;
    padding: 7px;
    background-color: rgba(0,0,0,0.4);
    color:white;
}
/*base h4 code*/
 h4{
    padding: 0;
    margin: 2px;
}
/*base i code*/
i{
    padding: 0;
    margin: 2px;
}
@media screen and (max-width:400px){
    li{
        display: none;
    }
    #input{
        display: inline;
        width: 70%;
        height: 35px;
        padding: 6px;
        color: white;
        font-size: 16px;
        text-align: center;
        border-color: white;
        border-style: groove;
        border-width: 0px;
        border-radius: 5px;   
        background-color: rgba(0,0,0,0.5);
    }
    #nav-left {
        text-align: center;
        font-size: 24px;
        text-decoration: underline;
    }
    #nav-right input{
        display: none
    }
    #name{
        display: none;
    }
    #mini-start{
        padding: 10px;
    }
    #start-intro div{
        text-align: center; 
        padding: 10px;
        margin:2px;
        width: auto;    
    }
    #questioner-info div{
        text-align: center; 
        padding: 10px;
        margin:1px;
        width: auto;
        border-radius: 4px;
        background-color: rgba(0,0,0,0.5)
    }
    #auth-input{
        padding: 10px;
        border-width: 0px;
    }
    #meetup-view{
        border-radius: 0px;
        background-color: rgba(0,0,0,0.5);
        margin-top:2px;
        padding: 6px;
        border-color: white;
        border-style: groove;
        border-bottom-width: 1px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-top-width: 0px;
    }
    #meetup-view img{
        border-radius: 6px;
        margin:2px;
        width: 100%;
    }
    #details{
        margin:0px;
        text-align: center;
    }
    #details img{
        width: 100%;
    }
    #others{
        display: none;
    }
    #post-comment{
        border-style: groove;
        border-bottom-width: 1px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-top-width: 1px;
        margin-top: 5px;
        padding: 5px;
    }
    #post-comment textarea{
        width: 94%;
        margin: 3px;
    }
    #coment-post{
        margin-left:70%; 
    }
    #question-additions{
        margin-left:1px; 
    }
    #post-area{
        width: auto;
        padding: 4px;
    }
    #post-area h3{
        width: auto;
        text-align: center;
        padding: 2px;
        margin: 0px;
    }
    #post{
        width:auto;
        display: inline;
    }
    #post button{
        float: right;
        cursor: pointer;
        margin: 0;
    }
    #post textarea{
        width:70%;
    }
    #popular-questions{
        width: auto;
        padding: 4px;
    }
    #question-buttons {
        width: auto;
        height: 25%;
        margin: 0px;
        padding: 6px;
    }
user information
.profile #user-information{
    width:15%;
    padding: 0;
    height: 100%;
    float: left;
    border-style:groove;
    border-radius: 4px;
    border-width: 2px;
    padding: 2px;
    height: auto;
    float: left;
    margin: 0.5%;
}
/*questions body*/
.profile #profile-questions{
    width:auto;
    padding: 0;
    height:auto;
    margin: 1%;
}
.profile #info-image{
    padding:0px;
    width:100%;
    height:100%;
}
.profile #info-name{
    padding:6px;
    width: auto;
    height: 50%;
    border-style:groove;
    border-radius: 4px;
    border-width: 2px;
    text-align: center;
}
.profile #info-email{
    padding:6px;
    height: 25%;
    border-style:groove;
    border-radius: 5px;
    border-width: 2px;
    text-align: center;
}
#info-button{
    display: block;
    width: 50%;
    margin-left: 25%;
}
/*question information belonging to user*/
.profile #profile-control {
    width: auto;
    display: block;
    border-style: groove;
    border-radius: 4px;
    border-width: 1px;
    text-align: center;
    margin: 3px;
}
.profile #popularquestion{
    padding: 8px;
    margin: 4px;
    height: auto;
    border-style: groove;
    border-width:1px;
    border-radius: 4px;
} 
.profile #askedquestions {
    padding: 8px;
    height: auto;
    border-style: groove;
    border-width:1px;
    border-radius: 4px;
}
.profile #questionscommented {
    padding: 8px;
    height: auto;
    border-style: groove;
    border-width:1px;
    border-radius: 4px;
}
}


@media screen and (max-width:1500px){
#nav-right{
    border-style: groove;
    border-radius: 4px;
    border-width: 1px;
    float: right;
}
#navbar-items input {
   padding: 10px;
   height: 15px;
   width: 30%;
   margin: 0;
}
#nav-left {
    float: left;
    font-size: 18px;
    padding-left:16px;
    text-decoration: underline;
}
#questioner-contact{
    width: 32%;
    margin: 1px;
    padding: 4px;
    float: left;
    background-color: rgba(0,0,0,0.5);
    border-color: white;
    border-style: groove;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
}
#hint{
    padding:0;
    margin: 0;
    float: none;
    margin: 1px;
    padding: 0;
}
#link {
    cursor: pointer;
    color: red;
}
#auth-input{
    border-color: white;
    border-style: groove;
    border-width: 1px;
    border-radius: 16px;
    padding: 20px;
    display: inline-block;
}
#details-input {
    width: auto;
    margin:3%;
    padding: 20px;
}
#input{
    height: 20px;
    display: inline;
    width: 70%;
    height: 35px;
    padding: 6px;
    color: white;
    font-size: 16px;
    text-align: center;
    border-color: white;
    border-style: groove;
    border-width: 0px;
    border-radius: 5px;   
    background-color: rgba(0,0,0,0.5);
}
#submit-button{
    float: none;
    width: 30%;
}
/*posting question text area div */
.post-question #post-area{
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin: 2%;
}
.post-question #post{
   padding: 4px;
   margin-top: 2%;
   margin-bottom: 2%;
}
.post-question #quiz-post{
    float: right;
}
.post-question #popular-questions{
    width: auto;
    height: auto;
    border-style: groove;
    border-radius: 4px;
    border-width: 2px;
    padding: 2px;
}
.post-question #timeline{
    width: auto;
    height: auto;
    display: inline;
    padding: 2px;
}
.post-question #question-additions{
    width: auto;
    height: auto;
    display: inline;
    margin: 9px;
    padding: 8px;
    border-style: groove;
    border-radius: 4px;
    border-width: 1px;
}
/*meetup details*/
.meetup-detail #meetup-info{
    width: auto;
    height: auto;
    display: inline;
    float: left;
    padding-left: 100px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.meetup-detail #post-comment{
    width: auto;
    height: auto;
    display: inline;
    float: left;
    padding-left: 100px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-style: groove;
    border-radius: 4px;
    border-width: 1px;
    margin: 3px;
}
.meetup-detail #post{
    width:auto;
    display: inline;
}
.meetup-detail #post button{
    float: right;
    cursor: pointer;
    margin: 0;
}
.meetup-detail #post textarea{
    width:60%;
}
.meetup-detail #details{
    width: 75%;
    float: left;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.5);
}
.meetup-detail #others{
    display: inline;
    float: right;
    text-decoration: underline;
    border-radius: 4px;
    width: 18%;
    text-align: center;
    border-radius: 4px;
    margin-left: 2px;
    background-color: rgba(0,0,0,0.5);
}
.meetup-detail #meetup-description-info{
  margin: 3px;
  padding: 6px;
}
.meetup-detail #quiz-header{
    margin: 5px;
    padding: 4px;
    font-size: 32px;
    float: none;
}
.meetup-detail #question{
    padding:25px;
    width: auto;
    margin: 25px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.5);
}
.meetup-detail #comment-header{
    text-align: center;
}
.meetup-detail #question-id{
    padding:5px;
}
.meetup-detail #question-additions{
    border-radius: 5px;
    background-color: rgb(6, 6, 94);
    display: inline;
    margin: 4px;
    border-style: groove;
    width: auto;
    height: 40px;
    padding: 4px;
    color: white;
    text-align: center;
    float: left;
}
.meetup-detail #voting {
    padding: 0;
    margin: 0;
}
.meetup-detail #comments {
    width: auto;
    padding-left:25px;
}
.meetup-detail #question-comment{
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(6, 6, 94);
    border-style: groove;
    padding: 4px;
    color: white;
    border-style: groove;
    border-bottom-width: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-width: 2px;
    padding: 8px;
    color: white;
    height: auto;
    width: 60%
}
.meetup-detail #comment-link{
    border-radius: 5px;
    margin: 2px;
    background-color: white;
    border-style: groove;
    border-color:black;
    border-radius: 4px;
    border-width: 1px;
    width: auto;
    height: auto;
    padding: 6px;
    color: black;
}
.meetup-detail #post-comment{
    display: inline;
}
.meetup-detail #time{
    display: inline;
}
/*index*/
.index #start-intro {
     width: auto; 
     height: 300px; 
     padding: 55px; 
}
.index #questioner-header{
     width: auto; 
     padding: 15px; 
}
.index #name{
    height:auto;
    width: 50%;
    float: left;
    font-size: 45px;
    text-align: center;
    color: white;
    background-color: blue
}
.index #mini-start  {    
    padding: 10px;
    height:auto;
    width: 40%;
    float: right;
    background-color: blue; 
}
/*meetup body*/
.dashboard-body #meetup-body{
    width:auto;
    height:500px;
}
.dashboard-body #meetup-view{
    height: 400px;
    width: 300px;
    float: left;
    display: inline;
    padding: 6px;
    margin-top:2%;
    margin-left:7%;
    background: rgb(6, 6, 94);
    border-radius: 6px;
}
.dashboard-body #meeting-details{
    height:auto;
}
.dashboard-body #meetup-view img{
    height: 200px;
    width: 300px;
    margin: 0;
}
.dashboard-body #meetup-view a{
    text-decoration: none;
    border-style: groove;
    border-radius: 4px;
    border-width: 1px;
    padding: 4px;
}
/*profile page code*/
.profile #info-button{
    height: auto;
    width: auto;
    padding: 6px;
    margin: 4px;
    color: white;
    border-style: groove;
    border-radius: 6px;
    border-width: 1px;
    background-color: rgba(0,0,0,0.5)
}
/*user information*/
.profile #user-information{
    width:15%;
    padding: 0;
    height: 100%;
    float: left;
    border-style:groove;
    border-radius: 4px;
    border-width: 2px;
    padding: 2px;
    height: auto;
    float: left;
    margin: 0.5%;
}
/*questions body*/
.profile #profile-questions{
    width:80%;
    padding: 0;
    height:auto;
    float: left;
    margin: 1%;
}
/*meet up suggestions*/
.profile  #profile-meetup-suggestions{
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
.profile #info-image{
    padding:0px;
    width:100px;
    height:100px;
    margin-left: 15%;
    margin-top: 15%;
    border-style:groove;
    border-radius:60px;
    border-width: 2px;
}
.profile #info-name{
    padding:6px;
    width: auto;
    height: 25%;
    border-style:groove;
    border-radius: 4px;
    border-width: 2px;
}
.profile #info-email{
    padding:6px;
    width: auto;
    height: 25%;
    border-style:groove;
    border-radius: 5px;
    border-width: 2px;
}
/*question information belonging to user*/
.profile #profile-control {
    width: auto;
    border-style: groove;
    border-radius: 4px;
    border-width: 1px;
    padding: 12px;
    text-align: center;
    margin: 3px;
}
.profile #popularquestion{
    padding: 8px;
    margin: 4px;
    height: auto;
    border-style: groove;
    border-width:1px;
    border-radius: 4px;
} 
.profile #askedquestions {
    padding: 8px;
    height: auto;
    border-style: groove;
    border-width:1px;
    border-radius: 4px;
}
.profile #questionscommented {
    padding: 8px;
    height: auto;
    border-style: groove;
    border-width:1px;
    border-radius: 4px;
}
.admin #meetup-admin{
    padding: 6px;
    margin:4px;
}
.admin #feed{
    padding: 6px;
    border-style: groove;
    border-width:1px;
    border-radius: 4px;
    margin: 4px;
}
}