.dashboard-body{
    background-color: blue;
    margin: 0;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}
input{
    padding: 10px;
    width: 40%;
    height:20px;
    background-color: rgba(0,0,0,0.5);
    border-style: groove;
    border-radius: 6px;
    border-width: 1px;
    margin-right: 7px;
}
button{
    padding: 6px;
    font-size: 14px;
    width: auto;
    background-color: rgba(0,0,0,0.5);
    border-style: groove;
    border-radius: 6px;
    border-width: 1px;
    margin-right: 7px;
}
li{
    display: inline;
    background-color: rgba(0,0,0,0.5);
    border-style: groove;
    border-radius: 6px;
    border-width: 1px;
    margin-right: 4px;
    padding: 6px;
}
nav{
    padding-top: 20px;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
}
.dashboard-body a{
    color: white;
    text-decoration: none;
}
.dashboard-body #nav-left {
    float: left;
    padding-left: 10px;
    text-decoration: underline;
}
.dashboard-body #nav-right {
    float: right;
    padding-top: 4px;
    margin-right: 7px;
    color: white;
}

.dashboard-body  #meetup-view{
    height: 370px;
    width: 300px;
    padding: 6px;
    float: left;
    margin-left:8%;
    margin-top:2%;
}
.dashboard-body #meeting-details{
    margin-top:2%;
    border-style: groove;
    border-radius: 6px;
    border-width: 2px;
    border-color: white;
}
.dashboard-body #meeting-details button{
   margin: 5px;
}
.dashboard-body #meetup-view img{
    height: 200px;
    width: 300px;
    margin: 0;
    border-style: groove;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
}
.dashboard-body #meetup-info{
    margin: 0;
    padding: 4px;
    border-style: groove;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
}
.dashboard-body #questioner-info{
    margin:2px;
    display: inline-block;
    padding: 4px;
    width: auto;
    float: right;
    margin-top: 2%;
    text-align: center; 
    background-color: rgba(0,0,0,0.5);
}
.dashboard-body #questioner-contact{
    width: 32%;
    margin: 1px;
    height: 50%;
    padding: 1px;
    float: left;
    border-color: white;
    border-style: groove;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
}
