.index{
    font-family: sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0;
    color: white;
    background-color: blue;
}
.index a{
    color: white;
    text-decoration: none;
}
.index button{
    border-color: white;
    border-style: groove;
    border-radius: 4px;
    border-width: 1px; 
    padding: 10px;
    float: right;
    width: auto;
    color:white;
    background-color: rgba(0,0,0,0.5)
}
.index li{
    float: right;
    display: inline;
    margin-right: 15px;
    padding: 4px;
    border-color: white;
    border-style: groove;
    border-radius: 4px;
    border-width: 1px;
}
.index nav{
    width:auto;
    height:50px;
    padding: 15px;
    margin: 0;
    background-color: rgba(0,0,0,0.5)
}
.index footer{
    padding: 10px;
    width: auto;
    text-align: center; 
    margin:0;
    height: auto;
    background-color: rgba(0,0,0,0.5);
}
.index #navbar-items #nav-left{
    float: left;
    font-family: 'Courier New', Courier, monospace
}
.index #navbar-items #nav-right{
    float: right;
    padding: 8px;
    margin-top: 5px;
}
.index #start-intro {
    width: auto;
    height: 300px;
    padding: 55px;
}
.index #questioner-header{
    width: auto;
    padding: 15px;
}
.index #name{
    height:auto;
    width: 50%;
    float: left;
    font-size: 45px;
    text-align: center;
    color: white;
    background-color: blue
}
.index #mini-start  {    
    padding: 10px;
    height:auto;
    width: 40%;
    float: right;
    background-color: blue; 
}
.index #questioner-contact{
    width: 32%;
    height:150px;;
    margin: 1px;
    padding: 4px;
    float: left;
    border-color: white;
    border-style: groove;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
}