.login-body{
    color: white;
    margin: 0;
    font-family: sans-serif;
    background-color: blue;
}
.login-body a{
    color: white;
    text-decoration: none;
}
.login-body .login-nav{
    padding: 10px;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
}
.login-body .login-nav .navbar-items .nav-bar{
    padding: 8px;
    display: inline;
}
.login-body .login-nav .navbar-items .nav-bar .nav-left {
    float: left;
    padding: 10px;
}
.login-body .login-nav .navbar-items .nav-bar .nav-right li{
    display: inline-block;
    float: right;
    border-radius: 4px;
    border-width: 1px;
    padding: 6px;
    margin-right: 7px;
    color: white;
}
.login-body .login-nav .navbar-items .nav-bar .nav-right li a{
    float: right;
    color: white;
    margin-right:2px; 
}
.login-body .details-input {
    width: auto;
    margin:3%;
    padding: 20px;
}
.login-body .details-input .login-input{
    padding: 15px;
    display: inline-block;
}
.login-body .details-input .login-input form{
    border: none;
    border-color: white;
    border-style: groove;
    border-width: 1px;
    border-radius: 16px;
    padding: 20px;

}
.login-body .details-input .login-input .hints{
}
.login-body .details-input .login-input .input{
    display: inline-block;
    width: 70%;
    height: 35px;
    padding: 6px;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 0px;
    border-radius: 4px;
    border-style: groove;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    background-color: rgba(0,0,0,0.5);
}
.login-body .details-input .login-input .submit-button{
    border-radius: 10px;
    background-color: rgb(6, 6, 94);
    margin-top: 2%;
    display: inline-block;
    border-style: groove;
    width: 40%;
    height: 30px;
    padding: 4px;
    color: white;
    text-align: center;
}

.login-body .mainpage-footer{
    padding: 4px;
    width: auto;
    margin-top: 2%;
    text-align: center; 
    background-color: rgba(0,0,0,0.5);
}
.login-body .mainpage-footer .questioner-info{
    margin:2px;
    display: inline-block;
}
.login-body .mainpage-footer .questioner-info .questioner-contact{
    width: 32%;
    margin: 1px;
    height: 50%;
    padding: 1px;
    float: left;
    border-color: white;
    border-style: groove;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
}
.login-body .mainpage-footer .questioner-info .footer-copyright{
    width: 100%;
    float: left;
    margin: 2px;
    border-color: white;
    border-style: groove;
    border-radius: 4px;
    border-width: 1px;
}

