.login-body{
    color: white;
    margin: 0;
    font-family: sans-serif;
    background-color: blue;
}

li {
    display: inline;
    float: right;
    padding: 6px;
    margin-right: 7px;
    border-color: white;
    border-style: groove;
    border-width: 1px;
    border-radius: 5px;
}
nav{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
}
a{
    color: white;
    text-decoration: none;
}
footer{
    padding: 4px;
    width: auto;
    margin-top: 2%;
    text-align: center; 
    background-color: rgba(0,0,0,0.5);
}
.login-body #navbar-items{
    padding: 10px;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
}
.login-body  #nav-left {
    float: left;
    font-size: 17px;
    text-decoration: underline;
    padding-left: 10px;
}
.login-body #nav-right li a{
    float: right;
    color: white;
    margin-right:2px; 
}
.login-body #details-input {
    width: auto;
    margin:3%;
    padding: 20px;
}
.login-body #login-input{
    padding: 15px;
    display: inline-block;
    border-color: white;
    border-style: groove;
    border-width: 1px;
    border-radius: 16px;
    padding: 20px;
}
.login-body #redirect {
    text-decoration:underline;
}
.login-body #hints{
    margin: 1px;
    padding: 0;
}
.login-body #input{
    display: inline;
    width: 70%;
    height: 35px;
    padding: 6px;
    color: white;
    font-size: 16px;
    text-align: center;
    border-color: white;
    border-style: groove;
    border-width: 0px;
    border-radius: 5px;   
    background-color: rgba(0,0,0,0.5);
}
.login-body #submit-button{
    border-radius: 10px;
    background-color: rgb(6, 6, 94);
    margin-top: 2%;
    display: inline-block;
    border-style: groove;
    width: 40%;
    height: 30px;
    padding: 4px;
    color: white;
    text-align: center;
}
.login-body #questioner-info{
    margin:2px;
    display: inline-block;
}
.login-body #questioner-contact{
    width: 32%;
    margin: 1px;
    height: 50%;
    padding: 1px;
    float: left;
    border-color: white;
    border-style: groove;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
}