.post-question{
    background-color: blue;
    padding:0;
    margin: 0;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}
.post-question a{
    color: white;
    text-decoration: none;
}
.post-question button{
    width: auto;
    height: auto;
    height: auto;
    width:auto;
    padding: 10px;
    border-style: groove;
    border-radius: 4px;
    border-width: 2px;
    background-color: rgba(0,0,0,0.5);
    color:white;
}
.post-question textarea{
    width: 99%;
    height: 70px;
    padding: 7px;
    background-color: rgba(0,0,0,0.5);
    color:white;
}
/*post question navbar*/
.post-question nav{
    padding: 6px;
    width: auto;
    height: auto;
    width: auto;
    height: 50px;
    background-color:rgba(0,0,0,0.5) 
}
.post-question nav p{
    float: left;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    display: inline;
    padding: 5px;
    margin: 4px;
    float: left;
    cursor: pointer;
}
.post-question nav li{
    display: inline;
    padding: 5px;
    margin: 4px;
    float: right;
    border-style: groove;
    border-radius: 4px;
    border-width: 1px;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}
.post-question footer{
    margin: 0;
    width: auto;
    background-color:rgba(0,0,0,0.5); 
    text-align: center;
    display: inline-block;

}
.post-question h4{
    padding: 0;
    margin: 2px;
}
.post-question i{
    padding: 0;
    margin: 2px;
}
/*posting question text area div */
.post-question #post-area{
    padding: 12px;
}
.post-question #post{
   padding: 4px;
   margin-top: 2%;
   margin-bottom: 2%;
}
.post-question #quiz-post{
    float: right;
}
/*popular questions view*/
.post-question #popular-questions{
    width: auto;
    height: auto;
    border-style: groove;
    border-radius: 4px;
    border-width: 2px;
    padding: 2px;

}
.post-question #timeline{
    width: auto;
    height: auto;
    display: inline;
    padding: 2px;
}
.post-question #question-additions{
    width: auto;
    height: auto;
    display: inline;
    margin: 9px;
    padding: 8px;
    border-style: groove;
    border-radius: 4px;
    border-width: 1px;
}
/* footer */
.post-question #post-footer .questioner-contact{
    width: 32%;
    margin: 1px;
    height: 50%;
    padding: 1px;
    float: left;
    border-color: white;
    border-style: groove;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
}
.post-question #post-footer .footer-copyright{
    width: 100%;
    float: left;
    margin: 2px;
    border-color: white;
    border-style: groove;
    border-radius: 4px;
    border-width: 1px;
}
