.signup-body{
    background-color: blue;
    margin: 0;
    color:white;
    font-family: sans-serif;
    font-size: 16px;
}
a{
    color: white;
    text-decoration: none;
}
nav{
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    padding-bottom: 10px;
    padding-top: 10px;
}
li{
    display: inline;
    float: right;
    padding: 10px;
    margin-right:6px; 
}
button{
    border-radius: 5px;
    border-style: groove;
    display: inline-block;
    background-color: rgb(6, 6, 94);
    margin-top: 2%;
    width:30%;
    height: auto;
    padding: 8px;
    color: white;
    text-align: center;
}
form{
    border: none;
    border-color: white;
    border-style: groove;
    border-width: 1px;
    border-radius: 16px;
    padding: 20px;
    display: inline-block;

}
input{
    width: 70%;
    height: 35px;
    padding: 6px;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px;
    border-radius: 6px;
    border: none;
    background-color: rgba(0,0,0,0.5);
}
footer{
    padding-left: 20px;
    padding-top:6px; 
    width: auto;
    border-color: white;
    border-style: groove;
    border-width: 1px;
    border-radius: 1px
}
.signup-body #nav-left {
    float: left;
    font-size: 18px;
    padding-left:16px;
    text-decoration: underline;
}
.signup-body #nav-right{
    border-style: groove;
    border-radius: 4px;
    border-width: 1px;
}
/*sign up form*/
.signup-body #signup-input{
    width: auto;
    margin:3%;
}
.signup-body #input-body{
    padding: 15px;
    display: inline-block;
}
.signup-body #hint{
    padding:0;
    margin: 0;
    float: none;
}
.signup-body #link {
   cursor: pointer;
   color: red;
}
.signup-body #questioner-info p{
    text-align: center;
    margin:16px;
}
.signup-body #questioner-contact{
    width: 32%;
    height: 150px;
    margin: 1px;
    padding: 1px;
    float: left;
    border-color: white;
    border-style: groove;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    background-color: rgba(0,0,0,0.5);
}